.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.avatar 
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1

.back-yellow
  background-color: #FFEDB8 !important
  width: 80%

.back-yellow-2
  background-color: #FECA2E !important
  width: 80%

.title-like
  font-size: 22px

.back-blue
  background-color: #0F2771 !important  
  color: white !important

.back-like
  background-color: #0F2771 !important
  color: white !important
  border-end-end-radius: 0 !important
  border-start-end-radius:  0 !important  

.back-dislike
  background-color: #BDDCF6 !important
  border-start-start-radius: 0 !important
  border-end-start-radius:   0 !important  

.acordion__activo
  background-color: #fdf3e1!important

.tabla-b.color-acento-contenido .tabla-b__header, .color-acento-contenido.tabla-c .tabla-b__header 
  background-color: #4DD0E1 !important

.tabla-a thead
  border-top: 0 !important

.tabla-a th 
  background-color: #4DD0E1 !important
  color: black !important

.bloque-texto-a.color-secundario
  background-color: #BDDCF6 !important

.bloque-texto-a.color-secundario:before
  background-color: #E8E8E8 !important

.bloque-texto-a:before 
  left: 60% !important

.banner-principal-decorativo-2
  right: 5% !important

.max-width-80
  max-width: 80%  

.lista-ol--cuadro__vineta
  background-color: #4DD0E1 !important
